<div ng-repeat="list in lists">
    <h2>{{ list.title }}</h2>
    <a href="#/addtask/">add new task</a>
    <input type="hidden" value="{{ list._id }}">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Status</th>
            <th>Content</th>
              <th>Option</th>
          </tr>
        </thead>
        <tbody ng-repeat="task in list.tasks">
            <tr>
                <th>{{ task.done }}</th>
                <td>{{ task.content }}</td>
                <td><a ng-click="deleteTask(task._id)">delete</a> - <a>update</a></td>
            </tr>
        </tbody>
    </table>
</div>
